.preview-modal-container {
  position: absolute;
  top: -20px;
  left: 70px;
}

.preview-cell {
  position: relative;
}

.table {
  tr {
    cursor: pointer;
  }
}

.table-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
