.root {
  background-color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 5px;
}

.title {
  margin: 0;
  padding-left: 8px;
}

.img {
  display: flex;
  height: 160px;
}

.stats {
  padding: 8px;
}